# ignore IDE files
.vscode
.idea

.DS_Store


# ignore test results
**/log.html
**/output.xml
**/report.html
**/dockerlogs*.tar.gz
allure_results/*
xunit_results.xml

# ignore caches under any path
**/__pycache__
**/.pytest_cache

# ignore work directories and setup files
.setup
TemporaryDir-/*
artifacts/*
docs/*
venv.*/*
/*wallet_config.yml
env_files/*
neofs_logs.zip
env_details
blobovnicza-to-peapod
neo-go
neofs-adm
neofs-cli
neofs-ir
neofs-lens
neofs-node
neofs-rest-gw
neofs-s3-authmate
neofs-s3-gw
neofs-contract
/warp
/warp.*
neofs_env_*.zip
temp_files.zip
test-run-*/
