# ignore test results
**/log.html
**/output.xml
**/report.html
**/dockerlogs*.tar.gz
allure_results/*
xunit_results.xml

# ignore pycache under any path
**/__pycache__
TemporaryDir/*
artifacts/*
docs/*
venv.*/*
