aiodns==3.0.0
aiohttp<=3.9.1
aioresponses==0.7.2
allure-pytest==2.13.2
allure-python-commons==2.13.2
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.2.0
base58==2.1.1
black==22.8.0
boto3==1.16.33
botocore==1.19.33
certifi==2023.07.22
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
coverage==6.3.3
docker==6.1.3
docutils==0.17.1
Events==0.5
flake8==4.0.1
idna==3.3
iniconfig==1.1.1
isort==5.12.0
jmespath==0.10.0
jsonschema==4.19.0
mccabe==0.6.1
mmh3==3.0.0
multidict==6.0.2
mypy==0.950
mypy-extensions==0.4.3
neofs-testlib==1.1.17
netaddr==0.8.0
packaging==21.3
paramiko==3.4.0
pexpect==4.8.0
pluggy==1.0.0
pre-commit==2.20.0
ptyprocess==0.7.0
pycares==4.2.0
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
pyparsing==3.0.9
pyrsistent==0.18.1
pytest==7.3.1
pytest-lazy-fixture==0.6.3
python-dateutil==2.8.2
python-dotenv==1.0.0
pyyaml==6.0
requests==2.31.0
robotframework==4.1.2
s3transfer==0.3.7
six==1.16.0
tenacity>=8.0.1
tomli==2.0.1
typing-extensions==4.2.0
urllib3==1.26.18
websocket-client==1.3.2
yarl==1.7.2
allure-combine==1.0.11
awscliv2==2.2.0
