allure-combine==1.0.11
allure-pytest==2.13.5
base58==2.1.1
black==24.8.0
botocore==1.35.28
boto3==1.35.28
docker==7.0.0
isort==5.13.2
jinja2==3.1.4
neo-mamba==2.6.0
paramiko==3.5.0
pexpect==4.9.0
pytest==8.3.3
PyYAML==6.0.2
python-dotenv==1.0.1
python-dateutil==2.9.0
pytest-lazy-fixture==0.6.3
requests==2.32.3
tenacity==9.0.0
ruff==0.6.8
urllib3==2.2.3
pytest-xdist==3.6.1