name: Ruff Linter
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  ruff:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v4
      - name: Check lint
        uses: chartboost/ruff-action@v1
      - name: Check formatting
        uses: chartboost/ruff-action@v1
        with:
          args: 'format --check'
